
/*
 * Pixzlo theme custom style
 */
/* General Styles */
body{
	color: #555555;
	font-family: Poppins;
	font-weight: 400;
	
	font-size: 14px;
	line-height: 28px;
	
	
	
	
	
	
	
	
	
	
	
}h1{
	
	font-family: Poppins;
	font-weight: 500;
	
	font-size: 60px;
	line-height: 68px;
	
	text-align: inherit;
	
	
}h2{
	
	font-family: Poppins;
	font-weight: 500;
	
	font-size: 42px;
	line-height: 50px;
	
	text-align: inherit;
	
	
}h3{
	
	font-family: Poppins;
	font-weight: 500;
	
	font-size: 35px;
	line-height: 43px;
	
	text-align: inherit;
	
	
}h4{
	
	font-family: Poppins;
	font-weight: 500;
	
	font-size: 28px;
	line-height: 36px;
	
	text-align: inherit;
	
	
}h5{
	
	font-family: Poppins;
	font-weight: 500;
	
	font-size: 24px;
	line-height: 32px;
	
	text-align: inherit;
	
	
}h6{
	
	font-family: Poppins;
	font-weight: 500;
	
	font-size: 20px;
	line-height: 30px;
	
	text-align: inherit;
	
	
}a{
	color: #000000;
}a:hover{
	color: #eb2f5b;
}a:active{
	color: #eb2f5b;
}
/* Widget Typography Styles */
.widget{
	
	font-family: Poppins;
	font-weight: 400;
	
	font-size: 14px;
	line-height: 26px;
	
	text-align: inherit;
	
	
}
.header-inner .main-logo img{
    max-height: 55px ;
}
.header-inner .sticky-logo img{
    max-height: 35px !important;
}
.mobile-header .mobile-header-inner ul > li img ,
.mobile-bar-items .mobile-logo img {
    max-height: 35px !important;
}.widget .widget-title{
	color: #000000;
	font-family: Poppins;
	
	
	font-size: 22px;
	line-height: 32px;
	
	
	
	
}.page-loader {background: url('http://demo.zozothemes.com/pixzlo/wp-content/uploads/sites/24/2018/11/page-loader.gif') 50% 50% no-repeat rgba(255,255,255, 1);}.container, .boxed-container, .boxed-container .site-footer.footer-fixed, .custom-container {
	width: 1170px;
}.pixzlo-content > .pixzlo-content-inner{
}
/* Header Styles */
header.pixzlo-header {
	background-color: #ffffff;
	
	
	
	
	
	}
/* Topbar Styles */
.topbar{
	color: #bab9c0;
	
	
	
	font-size: 16px;
	
	
	text-align: inherit;
	
	background: rgba(0,32,104,1);
}.topbar .topbar-inner {
}.topbar a{
	color: #bab9c0;
}.topbar a:hover {
	color: #eb2f5b;
}.topbar a:active,.topbar a:focus {
	color: #eb2f5b;
}
.topbar-items > li{
    height: 65px ;
    line-height: 65px ;
}
.header-sticky .topbar-items > li,
.sticky-scroll.show-menu .topbar-items > li{
	height: 50px ;
    line-height: 50px ;
}
.topbar-items > li img{
	max-height: 65px ;
}
/* Logobar Styles */
.logobar{
	color: #272727;
	
	
	
	
	
	
	
	
	background: rgba(255,255,255,1);
}.logobar .logobar-inner {
}.logobar a{
}.logobar a:hover{
	color: #eb2f5b;
}.logobar a:active,
.logobar a:focus, .logobar .pixzlo-main-menu > li.current-menu-item > a, .logobar .pixzlo-main-menu > li.current-menu-ancestor > a, .logobar a.active {
	color: #eb2f5b;
}
.logobar-items > li{
    height: 100px ;
    line-height: 100px ;
}
.header-sticky .logobar-items > li,
.sticky-scroll.show-menu .logobar-items > li{
	height: 80px ;
    line-height: 80px ;
}
.logobar-items > li img{
	max-height: 100px ;
}
/* Logobar Sticky Styles */
.header-sticky .logobar, .sticky-scroll.show-menu .logobar{
	
}.header-sticky .logobar a, .sticky-scroll.show-menu .logobar a{
}.header-sticky .logobar a:hover, .sticky-scroll.show-menu .logobar a:hover{
}.header-sticky .logobar a:active, .sticky-scroll.show-menu .logobar a:active,
.header-sticky .logobar .pixzlo-main-menu .current-menu-item > a, .header-sticky .logobar .pixzlo-main-menu .current-menu-ancestor > a,
.sticky-scroll.show-menu .logobar .pixzlo-main-menu .current-menu-item > a, .sticky-scroll.show-menu .logobar .pixzlo-main-menu .current-menu-ancestor > a ,
.header-sticky .logobar a.active, .sticky-scroll.show-menu .logobar a.active{
}
/* Navbar Styles */
.navbar{
	color: #18152c;
	font-family: Poppins;
	font-weight: 500;
	
	font-size: 15px;
	
	
	text-align: inherit;
	
	background: rgba(255,255,255,0);
}.navbar .navbar-inner {
}.navbar a{
	color: #18152c;
}.navbar a:hover{
	color: #eb2f5b;
}.navbar a:active,.navbar a:focus, .navbar .pixzlo-main-menu > .current-menu-item > a, .navbar .pixzlo-main-menu > .current-menu-ancestor > a, .navbar a.active {
	color: #eb2f5b;
}.navbar .secondary-space-toggle > span{
	background-color: #18152c;
}
.navbar-items > li,
.header-inner .navbar.floating-navbar .custom-container a.btn.pixzlo-btn {
    height: 100px ;
    line-height: 100px ;
}
.header-sticky .navbar-items > li,
.sticky-scroll.show-menu .navbar-items > li,
.header-inner .header-sticky .navbar.floating-navbar .custom-container a.btn.pixzlo-btn{
	height: 90px ;
    line-height: 90px ;
}
.navbar-items > li img{
	max-height: 100px ;
}
/* Navbar Sticky Styles */
.header-sticky .navbar, .sticky-scroll.show-menu .navbar{
	background: rgba(255,255,255,1);
}.header-sticky .navbar a, .sticky-scroll.show-menu .navbar a {
	color: #000000;
}.header-sticky .navbar a:hover, .sticky-scroll.show-menu .navbar a:hover {
	color: #eb2f5b;
}
.header-sticky .navbar img.custom-logo, .sticky-scroll.show-menu .navbar img.custom-logo{
	max-height: 90px ;
}
/* Secondary Menu Space Styles */
.secondary-menu-area {width: 400px ;}.secondary-menu-area, .secondary-menu-area .widget {
	
	
	
	
	
	
	
	
	
	
	background-color: #000000;
	
	
	
	
	
	left: -400px;
}.secondary-menu-area.left-overlay, .secondary-menu-area.left-push{left: -400px;
}.secondary-menu-area.right-overlay, .secondary-menu-area.right-push{
}.secondary-menu-area .secondary-menu-area-inner{
}.secondary-menu-area a{
	color: #ffffff;
}.secondary-menu-area a:hover{
	color: #eb2f5b;
}.secondary-menu-area a:active{
	color: #eb2f5b;
}
/* Sticky Header Styles */
.sticky-header-space{
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
}.sticky-header-space li a{
}.sticky-header-space li a:hover{
	color: #eb2f5b;
}.sticky-header-space li a:active{
	color: #eb2f5b;
}
/* Mobile Header Styles */
.mobile-header-items > li{
    height: 80px ;
    line-height: 80px ;
}
.mobile-header .mobile-header-inner ul > li img {
	max-height: 80px ;
}
.mobile-header{background: rgba(255,255,255,1);
}.mobile-header-items li a{
	color: #000000;
}.mobile-header-items li a:hover{
	color: #eb2f5b;
}.mobile-header-items li a:active{
	color: #eb2f5b;
}
.header-sticky .mobile-header-items > li, .show-menu .mobile-header-items > li{
    height: 60px ;
    line-height: 60px ;
}
.header-sticky .mobile-header-items > li .mobile-logo img, .show-menu .mobile-header-items > li .mobile-logo img{
	max-height: 60px ;
}
.mobile-header .header-sticky, .mobile-header .show-menu{background: rgba(255,255,255,1);}.header-sticky .mobile-header-items li a, .show-menu .mobile-header-items li a{
	color: #11caff;
}.header-sticky .mobile-header-items li a:hover, .show-menu .mobile-header-items li a:hover{
	color: #11caff;
}.header-sticky .mobile-header-items li a:hover, .show-menu .mobile-header-items li a:hover{
	color: #11caff;
}
/* Mobile Bar Styles */
.mobile-bar{
	color: #000000;
	
	
	
	font-size: 16px;
	
	
	text-align: inherit;
	
	
	background-color: #ffffff;
	
	
	
	
	
	
}.mobile-bar li a{
	color: #000000;
}.mobile-bar li a:hover{
	color: #eb2f5b;
}.mobile-bar li a:active, ul > li.current-menu-item > a, 
ul > li.current-menu-parent > a, ul > li.current-menu-ancestor > a,
.pixzlo-mobile-menu li.menu-item a.active {
	color: #eb2f5b;
}
/* Top Sliding Bar Styles */
/* General Menu Styles */
.menu-tag-hot{
	background-color: #ff0000;
}.menu-tag-new{
	background-color: #3940ff;
}.menu-tag-trend{
	background-color: #7d0fcc;
}
/* Main Menu Styles */
ul.pixzlo-main-menu > li > a,
ul.pixzlo-main-menu > li > .main-logo{
	
	
	
	
	
	
	
	
	
	
}
/* Dropdown Menu Styles */
ul.dropdown-menu{
}ul.dropdown-menu > li{
	
	
	
	
	font-size: 16px;
	line-height: 24px;
	
	
	
	
}ul.dropdown-menu > li a,
ul.mega-child-dropdown-menu > li a,
.header-sticky ul.dropdown-menu > li a, .sticky-scroll.show-menu ul.dropdown-menu > li a,
.header-sticky ul.mega-child-dropdown-menu > li a, .sticky-scroll.show-menu ul.mega-child-dropdown-menu > li a {
	color: #333333;
}ul.dropdown-menu > li a:hover,
ul.mega-child-dropdown-menu > li a:hover,
.header-sticky ul.dropdown-menu > li a:hover, .sticky-scroll.show-menu ul.dropdown-menu > li a:hover,
.header-sticky ul.mega-child-dropdown-menu > li a:hover, .sticky-scroll.show-menu ul.mega-child-dropdown-menu > li a:hover {
	color: #eb2f5b;
}ul.dropdown-menu > li a:active,
ul.mega-child-dropdown-menu > li a:active,
.header-sticky ul.dropdown-menu > li a:active, .sticky-scroll.show-menu ul.dropdown-menu > li a:active,
.header-sticky ul.mega-child-dropdown-menu > li a:active, .sticky-scroll.show-menu ul.mega-child-dropdown-menu > li a:active,
ul.dropdown-menu > li.current-menu-item > a, ul.dropdown-menu > li.current-menu-parent > a, ul.dropdown-menu > li.current-menu-ancestor > a,
ul.mega-child-dropdown-menu > li.current-menu-item > a {
	color: #eb2f5b;
}
/* Template Page Title Styles */
.pixzlo-single-post .page-title-wrap-inner {
		color: #ffffff;
	background-color: #f6f6f6;
	
	background-repeat: no-repeat;
	background-position: center center;
	background-size: inherit;
	
	padding-top: 80px;padding-bottom: 80px;
	}.pixzlo-single-post .page-title-inner .breadcrumb-wrap { bottom: -80px; }.pixzlo-single-post .page-title-wrap a{
	color: #000000;
	}.pixzlo-single-post .page-title-wrap a:hover{
	color: #eb2f5b;
	}.pixzlo-single-post .page-title-wrap a:active{
	color: #eb2f5b;
	}.pixzlo-single-post .page-title-wrap-inner > .page-title-overlay{
	}.pixzlo-blog .page-title-wrap-inner {
		color: #000000;
	
	background-image: url(http://demo.zozothemes.com/pixzlo/wp-content/uploads/sites/24/2018/11/title_bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: inherit;
	padding-top: 125px;padding-bottom: 125px;
	}.pixzlo-blog .page-title-inner .breadcrumb-wrap { bottom: -125px; }.pixzlo-blog .page-title-wrap a{
	color: #000000;
	}.pixzlo-blog .page-title-wrap a:hover{
	color: #eb2f5b;
	}.pixzlo-blog .page-title-wrap a:active{
	color: #eb2f5b;
	}.pixzlo-blog .page-title-wrap-inner > .page-title-overlay{
	}.pixzlo-page .page-title-wrap-inner {
		color: #000000;
	
	background-image: url(http://demo.zozothemes.com/pixzlo/wp-content/uploads/sites/24/2018/11/title_bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: inherit;
	padding-top: 125px;padding-bottom: 125px;
	}.pixzlo-page .page-title-inner .breadcrumb-wrap { bottom: -125px; }.pixzlo-page .page-title-wrap a{
	color: #000000;
	}.pixzlo-page .page-title-wrap a:hover{
	color: #eb2f5b;
	}.pixzlo-page .page-title-wrap a:active{
	color: #eb2f5b;
	}.pixzlo-page .page-title-wrap-inner > .page-title-overlay{
	}.pixzlo-archive .page-title-wrap-inner {
		color: #000000;
	
	background-image: url(http://demo.zozothemes.com/pixzlo/wp-content/uploads/sites/24/2018/11/title_bg.jpg);
	
	background-position: center center;
	background-size: cover;
	
	padding-top: 125px;padding-bottom: 125px;
	}.pixzlo-archive .page-title-inner .breadcrumb-wrap { bottom: -125px; }.pixzlo-archive .page-title-wrap a{
	color: #000000;
	}.pixzlo-archive .page-title-wrap a:hover{
	color: #eb2f5b;
	}.pixzlo-archive .page-title-wrap a:active{
	color: #eb2f5b;
	}.pixzlo-archive .page-title-wrap-inner > .page-title-overlay{
	}.pixzlo-category .page-title-wrap-inner {
		color: #ffffff;
	background-color: #ffffff;
	background-image: url(http://demo.zozothemes.com/pixzlo/wp-content/uploads/sites/24/2018/11/title_bg.jpg);
	
	background-position: center center;
	background-size: cover;
	
	padding-top: 200px;padding-bottom: 200px;
	}.pixzlo-category .page-title-inner .breadcrumb-wrap { bottom: -200px; }.pixzlo-category .page-title-wrap a{
	color: #ffffff;
	}.pixzlo-category .page-title-wrap a:hover{
	color: #eb2f5b;
	}.pixzlo-category .page-title-wrap a:active{
	color: #eb2f5b;
	}.pixzlo-category .page-title-wrap-inner > .page-title-overlay{
	}.pixzlo-tag .page-title-wrap-inner {
		color: ;
	
	
	
	
	
	
	
	}.pixzlo-tag .page-title-wrap a{
	}.pixzlo-tag .page-title-wrap a:hover{
	}.pixzlo-tag .page-title-wrap a:active{
	}.pixzlo-tag .page-title-wrap-inner > .page-title-overlay{
	}.pixzlo-search .page-title-wrap-inner {
		color: #000000;
	
	background-image: url(http://demo.zozothemes.com/pixzlo/wp-content/uploads/sites/24/2018/11/title_bg.jpg);
	
	
	background-size: cover;
	
	padding-top: 200px;padding-bottom: 200px;
	}.pixzlo-search .page-title-inner .breadcrumb-wrap { bottom: -200px; }.pixzlo-search .page-title-wrap a{
	color: #000000;
	}.pixzlo-search .page-title-wrap a:hover{
	color: #eb2f5b;
	}.pixzlo-search .page-title-wrap a:active{
	color: #eb2f5b;
	}.pixzlo-search .page-title-wrap-inner > .page-title-overlay{
	}.pixzlo-author .page-title-wrap-inner {
		color: #ffffff;
	
	
	
	
	
	
	
	}.pixzlo-author .page-title-wrap a{
	color: #ffffff;
	}.pixzlo-author .page-title-wrap a:hover{
	color: #eb2f5b;
	}.pixzlo-author .page-title-wrap a:active{
	color: #eb2f5b;
	}.pixzlo-author .page-title-wrap-inner > .page-title-overlay{
	}
/* Template Article Styles */
.single-post-template article.post{
		color: ;
	}.single-post-template article.post a{
	}.single-post-template article.post a:hover{
	}.single-post-template article.post a:active{
	}.single-post-template .post-format-wrap{
			
			
		}.single-post-template .post-quote-wrap > .blockquote, .single-post-template .post-link-inner, .single-post-template .post-format-wrap .post-audio-wrap{
			
			
		}.blog-template article.post{
		color: ;background: rgba(255,255,255,1);padding-right: 30px;padding-bottom: 30px;padding-left: 30px;
	}.blog-template article.post a{
	color: #000000;
	}.blog-template article.post a:hover{
	}.blog-template article.post a:active{
	}.blog-template .post-format-wrap{
			margin-left: -30px;
			margin-right: -30px;
		}.blog-template .post-quote-wrap > .blockquote, .blog-template .post-link-inner, .blog-template .post-format-wrap .post-audio-wrap{
			padding-left: 30px;
			padding-right: 30px;
		}.archive-template article.post{
		color: ;
				border-top-width: 1px;
				border-top-style: solid;
				border-top-color: #eaeaea;
				border-right-width: 1px;
				border-right-style: solid;
				border-right-color: #eaeaea;
				border-bottom-width: 1px;
				border-bottom-style: solid;
				border-bottom-color: #eaeaea;
				border-left-width: 1px;
				border-left-style: solid;
				border-left-color: #eaeaea;padding-right: 30px;padding-bottom: 30px;padding-left: 30px;
	}.archive-template article.post a{
	}.archive-template article.post a:hover{
	}.archive-template article.post a:active{
	}.archive-template .post-format-wrap{
			margin-left: -30px;
			margin-right: -30px;
		}.archive-template .post-quote-wrap > .blockquote, .archive-template .post-link-inner, .archive-template .post-format-wrap .post-audio-wrap{
			padding-left: 30px;
			padding-right: 30px;
		}.category-template article.post{
		color: ;
	}.category-template article.post a{
	}.category-template article.post a:hover{
	}.category-template article.post a:active{
	}.category-template .post-format-wrap{
			
			
		}.category-template .post-quote-wrap > .blockquote, .category-template .post-link-inner, .category-template .post-format-wrap .post-audio-wrap{
			
			
		}.tag-template article.post{
		color: ;
	}.tag-template article.post a{
	}.tag-template article.post a:hover{
	}.tag-template article.post a:active{
	}.tag-template .post-format-wrap{
			
			
		}.tag-template .post-quote-wrap > .blockquote, .tag-template .post-link-inner, .tag-template .post-format-wrap .post-audio-wrap{
			
			
		}.search-template article.post{
		color: ;padding-right: 30px;padding-bottom: 30px;padding-left: 30px;
	}.search-template article.post a{
	}.search-template article.post a:hover{
	}.search-template article.post a:active{
	}.search-template .post-format-wrap{
			margin-left: -30px;
			margin-right: -30px;
		}.search-template .post-quote-wrap > .blockquote, .search-template .post-link-inner, .search-template .post-format-wrap .post-audio-wrap{
			padding-left: 30px;
			padding-right: 30px;
		}.author-template article.post{
		color: ;
	}.author-template article.post a{
	}.author-template article.post a:hover{
	}.author-template article.post a:active{
	}.author-template .post-format-wrap{
			
			
		}.author-template .post-quote-wrap > .blockquote, .author-template .post-link-inner, .author-template .post-format-wrap .post-audio-wrap{
			
			
		}
/* Blockquote / Audio / Link Styles */
.post-quote-wrap > .blockquote{
	border-left-color: #eb2f5b;
}.single-post-template .post-quote-wrap > .blockquote{
			background-color: rgba(0, 0, 0, 0.7);
		}.blog-template .post-quote-wrap > .blockquote{
			background-color: rgba(0, 0, 0, 0.7);
		}.archive-template .post-quote-wrap > .blockquote{
			background-color: rgba(0, 0, 0, 0.7);
		}.tag-template .post-quote-wrap > .blockquote{
			background-color: rgba(0, 0, 0, 0.7);
		}.search-template .post-quote-wrap > .blockquote{
			background-color: rgba(0, 0, 0, 0.7);
		}.author-template .post-quote-wrap > .blockquote{
			background-color: rgba(0, 0, 0, 0.7);
		}.category-template .post-quote-wrap > .blockquote{
			background-color: rgba(0, 0, 0, 0.7);
		}.single-post-template .post-link-inner{
			background-color: rgba(0, 0, 0, 0.7);
		}.blog-template .post-link-inner{
			background-color: rgba(0, 0, 0, 0.7);
		}.archive-template .post-link-inner{
			background-color: rgba(0, 0, 0, 0.7);
		}.tag-template .post-link-inner{
			background-color: rgba(0, 0, 0, 0.7);
		}.author-template .post-link-inner{
			background-color: rgba(0, 0, 0, 0.7);
		}.search-template .post-link-inner{
			background-color: rgba(0, 0, 0, 0.7);
		}.category-template .post-link-inner{
			background-color: rgba(0, 0, 0, 0.7);
		}
/* Post Item Overlay Styles */
.post-overlay-items{
	color: ;
}.post-overlay-items a{
}.post-overlay-items a:hover{
}.post-overlay-items a:hover{
}
/* Footer Styles */
.site-footer{
	
	
	
	
	
	
	
	
	
	
	background-color: #f7f7f7;
	
	
	
	background-size: cover;
	
	
}.site-footer .widget{
	
	
	
	
	
	
	
	
	
	
}
footer.site-footer:before {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	content: "";
	background-color: ;
}.site-footer a{
}.site-footer a:hover{
}.site-footer a:hover{
}
/* Footer Top Styles */
.footer-top-wrap{
	color: #ffffff;
	
	
	
	
	
	
	
	
	padding-top: 20px;padding-right: 30px;padding-bottom: 20px;padding-left: 30px;
}.footer-top-wrap .widget{
	color: #ffffff;
	
	
	
	
	
	
	
	
	
}.footer-top-wrap a{
	color: #ffffff;
}.footer-top-wrap a:hover{
	color: #ffffff;
}.footer-top-wrap a:hover{
	color: #ffffff;
}.footer-top-wrap .widget .widget-title {
	color: ;
}
/* Footer Middle Styles */
.footer-middle-wrap{
	color: #000000;
	
	
	
	font-size: 14px;
	
	
	text-align: inherit;
	
	padding-top: 100px;padding-bottom: 100px;
}.footer-middle-wrap .widget{
	color: #000000;
	
	
	
	font-size: 14px;
	
	
	text-align: inherit;
	
	
}.footer-middle-wrap a{
	color: #000000;
}.footer-middle-wrap a:hover{
	color: #eb2f5b;
}.footer-middle-wrap a:active{
	color: #eb2f5b;
}.footer-middle-wrap .widget .widget-title {
	color: ;
}
/* Footer Bottom Styles */
.footer-bottom{
	color: #9d9d9d;
	
	
	
	font-size: 14px;
	
	
	
	
	background: rgba(255,255,255,1);padding-top: 25px;padding-bottom: 25px;
}.footer-bottom .widget{
	color: #9d9d9d;
	
	
	
	font-size: 14px;
	
	
	
	
	
}.footer-bottom a{
	color: #ffffff;
}.footer-bottom a:hover{
	color: #eb2f5b;
}.footer-bottom a:active{
	color: #eb2f5b;
}.footer-bottom-wrap .widget .widget-title {
	color: ;
}
/* Theme Extra Styles */
.theme-color {
	color: #eb2f5b;
}.default-color {
	color: #eb2f5b !important;
}.float-video-wrap .float-video-left-part:after {
	background: rgba(0,32,104, 0.5);
}.float-video-right-part.video-content {
	background: #eb2f5b;
}
/*----------- General Style----------- */
::selection {
	background : #eb2f5b;
}.breadcrumb span.current {
	color : #eb2f5b;
}.secondary-space-toggle > span {
	background : #eb2f5b;
}.top-sliding-toggle.fa-minus {
	border-top-color : #eb2f5b;
}.owl-dot.active span {
	background : #eb2f5b;
	border-color : #eb2f5b;
}
/*----------- Header Logobar ----------- */
.header-inner .logobar-inner .media i {
	color : #eb2f5b;
}
/*----------- Menu----------- */
/*----------- Search Style----------- */
input[type="submit"], .search-form .input-group .btn {
	background: #eb2f5b;
}
/*----------- Button Style----------- */
.btn, button , .btn.bordered:hover, .contact-form-grey .wpcf7 input[type="submit"] {
	background: #eb2f5b;
}.btn.classic:hover,
.post-comments-wrapper p.form-submit input:hover {
	background: #eb2f5b;
}.post-comments-wrapper p.form-submit input:hover,
input[type="submit"]:hover, .search-form .input-group .btn:hover {
	background: #002068;
}.btn.link,.blog-wrapper .bottom-meta .post-more a.read-more {
	color: #eb2f5b;
}.btn.bordered {
	border-color: #eb2f5b;
	color: #eb2f5b;
}.site-footer .cta-btn a.btn:hover {
	border-color: #002068;
	background-color: #002068;
}.rev_slider_wrapper .btn.btn-outline:hover {
	background-color: #eb2f5b;
	border-color: #eb2f5b;
}
/* -----------Pagination Style----------- */
.nav.pagination > li.nav-item a,
.page-links .page-number,.post-comments .page-numbers {
	background-color: rgba(235,47,91, 0.14);
}.nav.pagination > li.nav-item a:hover,
.nav.pagination > li.nav-item.active a, 
.nav.pagination > li.nav-item.active span,
.page-links > .page-number,
.page-links .page-number:hover,
.post-comments .page-numbers.current {
	background: #eb2f5b;
}
/*----------- Select Style ----------- */
select:focus {
	border-color: #eb2f5b;
}
/*----------- Header Styles---------------- */
.close:before, .close:after { 
	background: #eb2f5b;
}.header-phone span, .header-email span, .header-address span,.full-overlay .widget_nav_menu .zmm-dropdown-toggle { 
	color: #eb2f5b;
}.nav-link:focus, .nav-link:hover { 
	color: #eb2f5b;
}ul li.theme-color a {
	color: #eb2f5b !important;
}
/*----------- Post Style----------- */
.top-meta ul li a:hover, 
.bottom-meta ul li a:hover { 
	color: #eb2f5b;
}
/*----------- Post Navigation ---------*/
.post-navigation .nav-links .nav-next a, .post-navigation .nav-links .nav-previous a {
	border-color: #eb2f5b;
}.post-navigation .nav-links .nav-next a:hover, .post-navigation .nav-links .nav-previous a:hover {
	background-color: #eb2f5b;
}.custom-post-nav > .prev-nav-link > .post-nav-text, .custom-post-nav > .next-nav-link > .post-nav-text {
	background-color: #eb2f5b;
}.post-navigation .custom-post-nav > div > a {
	color: #eb2f5b;
}
/*----------- Calender---------------- */
.calendar_wrap th ,tfoot td { 
	background: #eb2f5b;
}.widget_calendar caption {
	border-color: #eb2f5b;
}
/*----------- Archive---------------- */
.widget_archive li:before { 
	color: #eb2f5b;
}.comments-wrap > * i,
.comment-text span.reply a { 
	color: #eb2f5b;
}
/*----------- Instagram widget---------------- */
.null-instagram-feed p a { 
	background: #eb2f5b;
}
/*----------- Service Menu---------------- */
.widget .menu-item-object-pixzlo-service.current-menu-item a,.widget .menu-item-object-pixzlo-service a:hover,
.widget .menu-item-object-pixzlo-service a:before, .widget_categories ul li a:before,
.widget-area .widget_categories > ul > li.current-cat a,span.menu-icon { 
	color: #eb2f5b;
}.widget-area .testimonial-wrapper .testimonial-inner { 
	background : rgba(0,32,104, 0.9);
}
/*----------- Post Nav---------------- */
.zozo_advance_tab_post_widget .nav-tabs .nav-item.show .nav-link, .widget .nav-tabs .nav-link.active { 
	background: #eb2f5b;
}
/*----------- Back to top---------------- */
/*----------- Shortcodes---------------- */
.entry-title a:hover { 
	color: #eb2f5b;
}.title-separator.separator-border { 
	background-color: #eb2f5b;
}
/*----------- Twitter---------------- */
.twitter-3 .tweet-info { 
	border-color: #eb2f5b;
}.twitter-wrapper.twitter-dark a { 
	color: #eb2f5b;
}
/*----------- Pricing table---------------- */
.price-text,
.pricing-style-1 ul.pricing-features-list > li:before,
.pricing-style-1 .pricing-table-info > .price-after { 
	color: #eb2f5b;
}.pricing-style-3 .pricing-inner-wrapper,.pricing-table-wrapper .btn:hover { 
	border-color: #eb2f5b;
}.pricing-style-2 .pricing-inner-wrapper { 
	background: #eb2f5b;
}.pricing-style-3 .pricing-title::before,
.pricing-style-3 .pricing-title::after { 
	background-color: #eb2f5b;
}.pricing-style-3 ul.pricing-features-list > li {
	box-shadow: 0 7px 10px -9px rgba(235,47,91, 0.8);
}
/*-----------Call To Action ---------------- */
.theme-gradient-bg {
	background: -webkit-linear-gradient(-150deg, #002068 35%, #eb2f5b 65%) !important;
	background: linear-gradient(-150deg, #002068 35%, #eb2f5b 65%) !important;
}
/*-----------Compare Pricing table---------------- */
.compare-pricing-wrapper .pricing-table-head, .compare-features-wrap { 
	background: #eb2f5b;
}.compare-pricing-style-3.compare-pricing-wrapper .btn:hover { 
	background: #eb2f5b;
}
/*-----------Counter Style---------------- */
.counter-wrapper.counter-style-2 .counter-value h3 { 
	background: -webkit-linear-gradient(-150deg, #002068 35%, #eb2f5b 65%);
	background: linear-gradient(-150deg, #002068 35%, #eb2f5b 65%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
/*-----------Testimonials---------------- */
.testimonial-wrapper.testimonial-1 .testimonial-excerpt { 
	border-color: #eb2f5b;
}.testimonial-wrapper.testimonial-1 .testimonial-excerpt:after { 
	border-color: #eb2f5b transparent transparent;
}.pixzlo-content .testimonial-2 .testimonial-inner:hover, .pixzlo-content .testimonial-2 .testimonial-inner:hover .testimonial-thumb img {
	border-color: #eb2f5b;
}.testimonial-2 .testimonial-inner:hover:after,.testimonial-2.testimonial-wrapper a.client-name {
	color: #eb2f5b;
}.testimonial-2 .testimonial-inner {
	-moz-box-shadow: 0 0 30px 1px rgba(235,47,91, 0.4);
	-webkit-box-shadow: 0 0 30px 1px rgba(235,47,91, 0.4);
	box-shadow: 0 0 30px 1px rgba(235,47,91, 0.4);
}.testimonial-wrapper.testimonial-1 .testimonial-inner:before, .testimonial-wrapper.testimonial-1 .testimonial-inner:after  {
	 background: rgba(235,47,91, 0.4);
}.testimonial-wrapper.testimonial-1 .testimonial-inner .testimonial-info-wrap:after {
	 color: rgba(235,47,91, 0.1);
}.testimonial-wrapper.testimonial-3 .testimonial-inner:before {
	 color: rgba(235,47,91, 0.07);
}.testimonial-wrapper.testimonial-3 .testimonial-inner .testimonial-excerpt:before {
	 color: #eb2f5b;
}
/*-----------Events---------------- */
.events-date { 
	border-color: #eb2f5b;
}
/*-----------Team---------------- */
.team-wrapper.team-3 .team-inner > .team-thumb { 
	border-color: #eb2f5b;
}.team-wrapper.team-1 .team-social-wrap ul.social-icons > li > a:hover,
.team-wrapper.team-1 .team-inner:hover .team-name a,
.typo-white .client-name { 
	color: #eb2f5b;
}.team-wrapper.team-1 .team-inner .team-name a{ 
	color: #002068;
}
/*-----------Timeline---------------- */
.timeline-style-2 .timeline > li > .timeline-panel { 
	border-color: #eb2f5b;
}.timeline-style-2 .timeline > li > .timeline-panel:before { 
	border-left-color: #eb2f5b;
	border-right-color: #eb2f5b;
}.timeline-style-2 .timeline > li > .timeline-panel:after { 
	border-left-color: #eb2f5b;
	border-right-color: #eb2f5b;
}.timeline-style-3 .timeline > li > .timeline-sep-title { 
	background: -webkit-linear-gradient(56deg, #002068 35%, #eb2f5b 65%);
	background: linear-gradient(56deg, #002068 35%, #eb2f5b 65%);
}.cd-horizontal-timeline .filling-line { 
	background: #eb2f5b;
}.cd-horizontal-timeline .events-content em { 
	color: #eb2f5b;
}.cd-timeline-navigation a { 
	border-color: #eb2f5b;
}.cd-timeline-navigation a:hover { 
	background: #eb2f5b;
}
/*-----------POPUP---------------- */
.modal-popup-wrapper .icon-wrap:after,
.modal-popup-wrapper .icon-wrap:before,
.modal-popup-wrapper .icon-wrap{
	background-color: #eb2f5b;
}
/*-----------Portfolio---------------- */
.portfolio-masonry-layout .portfolio-angle .portfolio-title h4:after,
.portfolio-icons p a,
.portfolio-content-wrap .portfolio-categories > span{
	background-color: #eb2f5b;
}.portfolio-model-4 .portfolio-info .portfolio-meta .portfolio-meta-list > li > .entry-url {
	background-color: #002068;
}.portfolio-model-4 .portfolio-info .portfolio-meta h6:before,
.portfolio-meta-list .entry-url.btn {
	color: #eb2f5b;
}.portfolio-single .custom-post-nav span.abs-title-icon {
	background-color: #eb2f5b;
}.service-info-wrap .custom-post-nav a,
.single-pixzlo-portfolio .custom-post-nav a {
	background-color: #eb2f5b;
}.portfolio-info .custom-post-nav .prev-nav-link > a,
 .portfolio-info .custom-post-nav .next-nav-link > a {
	background-color: #002068;
}.portfolio-filter.filter-1 ul > li.active > a {
	background-color: #eb2f5b;
}.portfolio-masonry-layout .portfolio-classic .portfolio-content-wrap {
	background: #eb2f5b;
}.portfolio-filter.filter-2 .active a.portfolio-filter-item {
	color: #eb2f5b;
}.portfolio-filter.filter-2 li a:after {
	background-color: #eb2f5b;
}.portfolio-slide .portfolio-content-wrap {
	background: #eb2f5b;
}.portfolio-minimal .portfolio-overlay-wrap:before,
.portfolio-minimal .portfolio-overlay-wrap:after { 
	border-color: #eb2f5b;
}.portfolio-classic .portfolio-title a:before { 
	background: #eb2f5b;
}.portfolio-classic .portfolio-wrap:hover .portfolio-content-wrap { 
	background: #002068;
}.portfolio-classic .portfolio-overlay-wrap:before {
	border-color: #eb2f5b;
}.portfolio-angle .portfolio-overlay-wrap:before { 
 background: linear-gradient(-45deg, rgba(0, 0, 0, 0.75) 0%, rgba(235,47,91, 0.86) 100%);
 }.portfolio-archive-title a:hover {
	color: #eb2f5b;
}.portfolio-model-4 .portfolio-info .portfolio-meta {
	border-color: #002068;
}
/*-----------Feature Box---------------- */
span.feature-box-ribbon { 
	background: #eb2f5b;
}.feature-box-wrapper.border-hover-color:hover {
    border-bottom-color: #eb2f5b !important;
}.feature-box-wrapper.feature-box-style-1:hover .section-title > a,
.feature-box-style-3 h6.invisible-number,.feature-box-wrapper.theme-color-inv-number .invisible-number {
	color: #eb2f5b;
}.feature-box-wrapper.feature-box-style-1:hover {
    border-bottom-color: #eb2f5b !important;
}.feature-list-2:hover {
	background-color: #002068;
}.feature-box-style-3::before,.feature-box-style-2:hover,.feature-box-style-2.active {
    background-color: #eb2f5b;
}.feature-box-wrapper:hover .feature-box-icon.theme-hcolor-bg {
		background: -webkit-linear-gradient(-150deg, #002068 35%, #eb2f5b 65%);
		background: linear-gradient(-150deg, #002068 35%, #eb2f5b 65%);
	}
/*-----------Section Title---------------- */
.section-title-wrapper .title-wrap > .section-title:before { 
	background: rgba(235,47,91, 0.9);
}footer .widget-title:before { 
	background: rgba(235,47,91, 0.5);
}
/*-----------Flipbox---------------- */
[class^='imghvr-shutter-out-']:before, [class*=' imghvr-shutter-out-']:before,
[class^='imghvr-shutter-in-']:after, [class^='imghvr-shutter-in-']:before, [class*=' imghvr-shutter-in-']:after, [class*=' imghvr-shutter-in-']:before,
[class^='imghvr-reveal-']:before, [class*=' imghvr-reveal-']:before {
	background-color: #eb2f5b;
}
/*-----------Progress Bar---------------- */
.vc_progress_bar .vc_single_bar .vc_bar { 
	background: #eb2f5b;
}
/*-----------Tabs---------------- */
.vc_toggle_round .vc_toggle_icon { 
	background: #eb2f5b;
}
/*-----------Services---------------- */
.services-3 .services-inner > .services-thumb { 
	border-color: #eb2f5b;
}.services-read-more .read-more {
	color: #eb2f5b;
}.services-wrapper.services-dark .services-title .entry-title:hover,
.services-wrapper.services-dark .services-read-more .read-more:hover {
	color: #eb2f5b;
}.custom-post-nav > div > a,
.services-wrapper .services-inner:hover .services-title a {
	color: #eb2f5b;
}.services-wrapper.services-1 .abs-title-icon,
.pixzlo-pagination-carousel .service-icon-wrap {
    color: #eb2f5b;
}.services-wrapper.services-1 .services-inner:hover {
    background-color: #eb2f5b;
}
/*-----------Blog---------------- */
.single-post-template .wp-post-image { 
	box-shadow: -25px 25px 0px 0#eb2f5b;
}.post-navigation-wrapper .nav-links.custom-post-nav > div:hover:after { 
	background: rgba(0,32,104, 0.7);
}.single-post-template blockquote:before { 
	color: #eb2f5b;
}.post-navigation-wrapper .nav-links.custom-post-nav > div:hover:after { 
	background: rgba(235,47,91, 1);
}.post-navigation-wrapper .nav-links.custom-post-nav > div:after { 
	background: #002068;
}.blog .top-meta .post-meta ul li:before { 
	background: #eb2f5b;
}span.post-nav-link-sub,.top-meta ul li i { 
	color: #eb2f5b;
}.blog-wrapper.blog-style-1 .blog-inner:hover a.post-title,
.blog-wrapper.blog-style-1 .post-author > a:hover,
article.post .article-inner:hover .entry-title a,
.widget_search .search-form .input-group .btn:hover { 
	color: #eb2f5b;
}.blog-wrapper.blog-style-1 .blog-inner a.post-title:hover, .blog-wrapper .top-meta ul li .post-date a { 
	color: #eb2f5b;
}.blog-wrapper .blog-inner:hover .post-thumb-overlay:before {
	border-color: rgba(235,47,91, 0.9);
}.blog-style-3 .post-thumb { 
	border-color: #eb2f5b;
}.blog-inner .invisible-number { 
	color: #002068;
}.blog-wrapper.blog-style-1 .blog-inner > .post-thumb::after {
    border-right-color: #eb2f5b;
    border-left-color: #eb2f5b;
}.sticky-date .post-date,.post-meta > ul > li.nav-item .post-tags a:hover { 
	background-color: #eb2f5b;
}.blog-style-1 .blog-inner:hover .post-thumb-overlay { 
	background-color: rgba(0,32,104, 0.8); 
	
}.blog-list-layout .blog-inner .post-more a.read-more { 
	background-color: rgba(235,47,91, 0.14);
	color: #eb2f5b;
}.blog-list-layout .blog-inner .post-more a.read-more:hover { 
	background-color: #eb2f5b;	
}.blog-list-layout .blog-inner:hover .entry-title .post-title,
.blog-classic-wrapper a.read-more { 
	color: #eb2f5b;	
}.blog-classic-wrapper .top-meta .post-date a { 
	color: rgba(235,47,91, 0.8);
}.blog-classic-wrapper .blog-list  { 
	border-color: #eb2f5b;	
}
/*-----------Blog Center---------------- */
/*-----------Tour---------------- */
.vc_tta-style-modern .vc_tta-tab.vc_active a{ 
	background-color: #eb2f5b !important;
}
/*-----------Tabs---------------- */
.vc_tta.vc_tta-tabs.vc_general.vc_tta-style-classic .vc_active > a {
    border-top-color: #eb2f5b !important;
}
/*-----------Accordin---------------- */
.vc_tta.vc_tta-accordion.vc_tta-style-flat .vc_active .vc_tta-controls-icon-position-left.vc_tta-panel-title > a > i {
	color: #eb2f5b !important;
}
/*-----------Contact Info---------------- */
.contact-info-wrapper.contact-info-style-2 .contact-mail a:hover { 
	color: #eb2f5b;
}
/*-----------Mailchimp---------------- */
/*-----------Contact form 7---------------- */
.wpcf7 input[type="submit"] { 
	background: #eb2f5b;
}.wpcf7 input[type="submit"]:hover {
	background-color: #002068;
}
/*-----------Shape Arrow---------------- */
.shape-arrow .wpb_column:nth-child(2) .feature-box-wrapper, 
.shape-arrow .wpb_column:last-child .feature-box-wrapper { 
	background: #eb2f5b;
}.shape-arrow .wpb_column:first-child .feature-box-wrapper::before,
.shape-arrow .wpb_column:nth-child(3) .feature-box-wrapper::before { 
	border-top-color: #eb2f5b;
	border-bottom-color: #eb2f5b;
}.shape-arrow .wpb_column .feature-box-wrapper::before,
.shape-arrow .wpb_column .feature-box-wrapper::after,
.shape-arrow .wpb_column:nth-child(2) .feature-box-wrapper::before,
.shape-arrow .wpb_column:nth-child(2) .feature-box-wrapper::after,
.shape-arrow .wpb_column:last-child .feature-box-wrapper::before, 
.shape-arrow .wpb_column:last-child .feature-box-wrapper::after { 
	border-left-color: #eb2f5b;
}
/*-----------Woocommerce---------------- */
.woocommerce ul.products li.product .price,
.woocommerce .product .price,
.woocommerce.single  .product .price,
.woocommerce p.stars a { 
	color: #eb2f5b;
}.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover { 
	background-color: #eb2f5b;
}.woocommerce .product .onsale { 
	background-color: #eb2f5b;
}.woocommerce.single .quantity input { 
	border-color: #eb2f5b;
}.woocommerce ul.products li.product .woocommerce-loop-product__title:hover,
.woocommerce ul.products li.product:hover .woocommerce-loop-product__title {
	color: #eb2f5b;
}.woocommerce .widget_price_filter .ui-slider .ui-slider-range { 
	background-color: #eb2f5b;
}.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover { 
	background-color: #002068;
}.dropdown-menu.cart-dropdown-menu .mini-view-cart a { 
	background-color: #eb2f5b;
}.woocommerce #content input.button, .woocommerce #respond input#submit, 
.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, 
.woocommerce-page #content input.button, .woocommerce-page #respond input#submit, 
.woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button,
.woocommerce input.button.alt, .woocommerce input.button.disabled, .woocommerce input.button:disabled[disabled],
.cart_totals .wc-proceed-to-checkout a.checkout-button {
	background-color: #002068;
}.woocommerce-info,
.woocommerce-message {
	border-top-color: #eb2f5b;
}.woocommerce-info::before,
.woocommerce-message::before {
	color: #eb2f5b;
}.form-control:focus {
	border-color: #eb2f5b !important;
}.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a {
	background-color: #eb2f5b;
}.woocommerce nav.woocommerce-pagination ul li a:hover, 
.woocommerce nav.woocommerce-pagination ul li a:active, 
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li span.page-numbers.current:hover
{
	background-color: #eb2f5b;
}.woocommerce .product .button:hover, 
.woocommerce.single .product .button:hover, 
.woocommerce button.button:hover, 
.woocommerce #review_form #respond .form-submit input:hover,
.woocommerce ul.products li.product .woo-thumb-wrap .added_to_cart:hover,
.woocommerce-page .woocommerce-message .button:hover,
.woocommerce a.added_to_cart:hover {
	background-color: #eb2f5b;
}.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce nav.woocommerce-pagination ul li span.page-numbers.current,
.woocommerce a.added_to_cart {
	background-color: #eb2f5b;
}.woocommerce ul.products li.product .woo-thumb-wrap .added_to_cart,
.woocommerce .widget_product_search button:hover,
.woocommerce nav.woocommerce-pagination ul li a {
	background: rgba(235,47,91, 0.14);
}.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, .woocommerce button.button.alt,
.woocommerce input.button.alt, .woocommerce .related.products h2:before {
	background-color: #eb2f5b;
}.woocommerce .star-rating span::before,
.woocommerce .star-rating::before {
	color: #002068;
}.woocommerce .product .button:hover, 
.woocommerce.single .product .button:hover, 
.woocommerce button.button:hover, 
.woocommerce #review_form #respond .form-submit input:hover,
.woocommerce .quantity .btn:hover {
	background-color: #eb2f5b;
}.woocommerce .widget.widget_product_categories li a:hover,
.woocommerce ul.product_list_widget li a:hover {
	color: #eb2f5b;
}.woo-top-meta select {     background-image: url(http://landing.wjds.local7/wp-content/themes/pixzlo/assets/images/icon-select.png); }
/*-----------Widget---------------- */
.widget.widget_recent_entries li a:hover,
.vc_row .widgettitle,.widget_meta li a:hover {
	color : #eb2f5b;
}.widget .widget-title:after {
	background : #eb2f5b;
}.widget-area .zozo_contact_info_widget {
	background : rgba(0,32,104, 0.8);
}.widget-area .zozo_contact_info_widget .widget-title {
	background : #eb2f5b;
}
/*-----------Mailchimp Widget---------------- */
.zozo-mc.btn:hover {
	background-color: #eb2f5b;
}.zozo-mc.btn {
	background-color: #002068;
}
/*-----------Footer---------------- */
.widget .footer-info .media::before,.widget_recent_entries span.post-date {
	color : #eb2f5b;
}.current_page_item a { 
	color: #eb2f5b;
}.mptt-shortcode-wrapper ul.mptt-menu.mptt-navigation-tabs li.active a, .mptt-shortcode-wrapper ul.mptt-menu.mptt-navigation-tabs li:hover a { 
	border-color: #eb2f5b;
}.err-content .btn:hover {
	background-color: #eb2f5b;
}.err-content .btn { 
	border-color: #eb2f5b;
	color : #eb2f5b;
}
/*-----------Social Widget---------------- */
ul.social-icons.social-hbg-theme > li a:hover,
ul.social-icons.social-bg-light > li a:hover {
	background-color: #002068;
}ul.social-icons.social-bg-light > li a:hover {
	background-color: #eb2f5b;
}ul.social-icons.social-theme > li a, 
ul.social-icons.social-h-theme > li a:hover,
.custom-post-nav ul.social-icons > li > a:hover,
.topbar-items ul.social-icons > li > a:hover,
.top-meta ul li a:hover i,
.bottom-meta ul li a:hover i { 
	color: #eb2f5b;
}.widget_categories ul li,
.widget.widget_archive ul li,
.widget-area .widget.widget_nav_menu ul > li > a {
	font-family: Poppins;;
}.pixzlo-page .float-video-left-part { background-image: url(http://demo.zozothemes.com/pixzlo/wp-content/uploads/sites/24/2018/11/title_bg.jpg); }